.product-cover {
	background-image: url(../i/bg_product_pttrn.png);
}

.product-cover-center {
	width: 940px;
	height: 442px;
	margin: 0 auto;
	background-image: url(../i/bg_product_1c.png);
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
}

.product-buttons {
	/*width: 214px;*/
	width: 0;
	overflow: hidden;
	position: absolute;
	top: 26px;
	right: 0;
	animation: show-buttons 1s 1 ease 4s forwards;
}

@keyframes show-buttons {
			from {width: 0;}
			to {width: 218px;}
		}

.product-buttons a {
	width: 214px;
	height: 52px;
	line-height: 52px;
	display: block;
	margin-bottom: 26px;
	border: 2px solid #17ac71;
	text-align: center;
	color: #13915f;
	text-decoration: none;
	font-size: 18px;
	border-radius: 5px;
	transition: all 0.2s ease;
	box-shadow: inset 0px 2px 4px 0px rgba(0, 0, 0, 0);
}

.product-buttons a:hover {
	background-color: #17ac71;
	color: #fff;
	box-shadow: inset 0px 2px 4px 0px #13915f;
}

#product_01 {
	width: 230px;
	height: 300px;
	position: absolute;
	left:313px;
	top: 64px;
	animation: color-stroke 4s 1 ease forwards;
}

@keyframes color-stroke {
			0%		{opacity: 1;}
			90%		{opacity: 1;}
			100%	{opacity: 0;}
		}

.p01-fill {
	width: 230px;
	height: 300px;
	position: absolute;
	left:313px;
	top: 64px;
	animation: color-fill 1s 1 ease 3.5s forwards;
	opacity: 0;
}

@keyframes color-fill {
			0%		{opacity: 0;}
			100%	{opacity: 1;}
		}

#product2 {
	width: 260px;
	height: 314px;
	position: absolute;
	left:340px;
	top: 64px;
}