.promo {
	background-color: #005385;
	background-image: url(../i/bg_promo.jpg);
	background-position: center top;
	background-repeat: no-repeat;
	height: 546px;
	padding-top:78px;
	color: #eee;
	line-height: 27px;
}

.promo-content {
	width: 940px;
	height: 546px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}

.promo-title {
	font-size: 60px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	margin-top: 77px;
	-webkit-animation: show-title 2s 1 ease forwards;
	animation: show-title 2s 1 ease forwards;
}

		@keyframes show-title {
			0% {opacity: 0;}
			100% {opacity: 1;}
		}

.promo-title a {
	text-decoration: none;
	color: #fff;
	border-bottom: 1px solid #67a4c9;
}

.promo-description {
	font-size: 20px;
	text-align: center;
	margin-top: 45px;
	-webkit-animation: show-description 2s 1 ease forwards;
	animation: show-description 2s 1 ease forwards;
}

		@keyframes show-description {
			0% {opacity: 0;}
			25% {opacity: 0;}
			100% {opacity: 1;}
		}

.promo-nav {
	width: 606px;
	height: 164px;
	position: absolute;
	left: 161px;
	bottom: 75px;
}

.promo-nav-item {
	width: 128px;
	height: 160px;
	border: 2px solid #eee;
	position: absolute;
	line-height: 15px;
	font-size: 14px;
	text-transform: uppercase;
	cursor: pointer;
	opacity: 0;
	transition: all 0.5s ease;
}

		.promo-nav-item:nth-of-type(2) {
			-webkit-animation: promo-motion1 4s 1 ease 1s forwards;
			animation: promo-motion1 4s 1 ease 1s forwards;
		}

		@keyframes promo-motion1 {
			0%		{opacity: 0;}
			60%		{opacity: 1;}
			90%		{transform: scale3d(1, 1, 1);}
			95%		{transform: scale3d(1.1, 1.1, 1.1);}
			100%	{opacity: 1;}
		}

		.promo-nav-item:nth-of-type(3) {
			opacity: 0;
			left:128px;
			-webkit-animation: promo-motion2 4s 1 ease 1s forwards;
			animation: promo-motion2 4s 1 ease 1s forwards;
		}

		@keyframes promo-motion2 {
			20%	{ left: 128px; opacity:0; }
			40%	{ left: 158px; opacity:1; }
			90%		{transform: scale3d(1, 1, 1);}
			95%		{transform: scale3d(1.1, 1.1, 1.1);}
			100%{ left: 158px; opacity:1; }
		}

		.promo-nav-item:nth-of-type(4) {
			opacity: 0;
			left: 286px;
			-webkit-animation: promo-motion3 4s 1 ease 1s forwards;
			animation: promo-motion3 4s 1 ease 1s forwards;
		}

		@keyframes promo-motion3 {
			40%	{left: 286px;opacity:0;}
			60%	{left: 316px;opacity:1;}
			90%		{transform: scale3d(1, 1, 1);}
			95%		{transform: scale3d(1.1, 1.1, 1.1);}
			100%{left: 316px;opacity:1;}
		}

		.promo-nav-item:nth-of-type(5) {
			opacity: 0;
			left: 444px;
			-webkit-animation: promo-motion4 4s 1 ease 1s forwards;
			animation: promo-motion4 4s 1 ease 1s forwards;
		}

		@keyframes promo-motion4{
			60%	{left: 444px;opacity:0;}
			80%	{left: 474px;opacity:1;}
			90%		{transform: scale3d(1, 1, 1);}
			95%		{transform: scale3d(1.1, 1.1, 1.1);}
			100%{left: 474px;opacity:1;}
		}

.promo-nav-item:hover {
	background-color: rgba(255,255,255,0.3);
}

.active-slide, .active-slide:hover {
	background-color: #fff;
	color: #005385;
}

.active-slide .p-green {
	fill: #17ac71;
}

.active-slide .p-blue {
	fill: #1581bf;
}

.p-svg {
	width: 128px;
	height: 105px;
}

.p-descr {
	padding: 0 10px;
	margin-top: -20px;
}

.p-svg .ico-p-01 {
	width: 56px;
	height: 70px;
	margin: 20px auto;
	display: block;

	fill: #0A68A5;
	stroke-width: 2px;
	stroke: #fff;
}

.p-svg .ico-p-02 {
	width: 61px;
	height: 74px;
	margin: 20px auto;
	display: block;

	fill: #0E75B7;
	stroke-width: 2px;
	stroke: #fff;
}

.p-svg .ico-p-03 {
	width: 74px;
	height: 70px;
	margin: 20px auto;
	display: block;

	fill: #0E75B7;
	stroke-width: 2px;
	stroke: #fff;
}

.p-svg .ico-p-04 {
	width: 66px;
	height: 74px;
	margin: 20px auto;
	display: block;

	fill: #0766A0;
	stroke-width: 2px;
	stroke: #fff;
}

.promo-sliders {
	width: 4000px;
}

.promo-slide {
	width: 940px;
	float: left;
}